---
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import { SITE, HOME, SOCIALS } from "@consts";
import ArrowCard from "@components/ArrowCard.astro";
import Link from "@components/Link.astro";
import { getCollection } from "astro:content";

const blog = (await getCollection("blog"))
  .filter((post) => !post.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, SITE.NUM_POSTS_ON_HOMEPAGE);
---

<Layout title={HOME.TITLE} description={HOME.DESCRIPTION}>
  <Container>
    <aside data-pagefind-ignore>
      <h1 class="font-semibold text-black dark:text-white">Nth bit</h1>
      <div class="space-y-16">
        <section>
          <article class="space-y-4">
            <span>
              <p>
                Welcome to <Link href="https://nbit.blog/">Nth bit</Link>.
              </p>
              <p>
                This is my personal blog which I've always wanted to have but
                never wanted to make. So this place is rather a playground and
                brain dump then curated place to get your knowledge from. I will
                write about things that I find interesting, useful or just plain
                fun.
              </p>
              <p>
                Also I'm sick of how IT blogging space looks like lately,
                especially for juniors and mids. Bazilion of medium articles
                that barely scratch the surface without giving even a change to
                get proper understanding of the topic. When possible I'll try to
                somehow fill that gap.
              </p>
              <p>
                This is also where blog name comes from. I want to cut the bs,
                assume some basic level of understanding from the reader and
                communicate with technical reader that is on the other side of
                the screen.
              </p>
              <p>Enjoy!</p>
            </span>
          </article>
        </section>

        <section class="animate space-y-6">
          <div class="flex flex-wrap items-center justify-between gap-y-2">
            <h2 class="font-semibold text-black dark:text-white">
              Latest posts
            </h2>
            <Link href="/blog"> See all posts </Link>
          </div>
          <ul class="not-prose flex flex-col gap-4">
            {
              blog.map((post) => (
                <li>
                  <ArrowCard entry={post} />
                </li>
              ))
            }
          </ul>
        </section>
      </div>
    </aside>
  </Container>
</Layout>
